@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-Regular'),
		url('../fonts/Montserrat-Regular.woff2') format('woff2'),
		url('../fonts/Montserrat-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-Medium'),
		url('../fonts/Montserrat-Medium.woff2') format('woff2'),
		url('../fonts/Montserrat-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-SemiBold'),
		url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
		url('../fonts/Montserrat-SemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-Bold'),
		url('../fonts/Montserrat-Bold.woff2') format('woff2'),
		url('../fonts/Montserrat-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat-ExtraBold'),
		url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
		url('../fonts/Montserrat-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h1, h2, h3, ul {
  margin: 0;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

ul {
  padding: 0;
}

img {
  max-width: 100%;
}

summary, ul {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #FFFFFF;
  color: #333333;
}

.flex {
  display: flex;
}

.hide {
  opacity: 0;
}

.active {
  display: block;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
}

.section-offset {
  margin-top: 100px;
}

.section__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
}

.btn {
  padding: 18px 36px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: #FF9900;
}

.btn-fill {
  background-color: #FF9900;
  border: none;
  cursor: pointer;
}

.btn:active,
.btn-fill:active {
  background: #E1670E;
}

.btn-fill:hover,
.btn-fill:focus {
  background: rgba(255, 153, 0, 0.7);
}

/* header  */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.header__wrapper {
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  padding: 14px 0;
}

.header__nav {
  margin-left: auto;
}

.header__nav-mobile {
  display: block;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition-property: width, padding, opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.header-nav__item {
  margin-right: 85px;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.header__link:hover {
  border-bottom: 2px solid #FF9900;
}

.header__link:focus {
  border: 2px solid #FF9900;
}

.header__link:active {
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
}

.header-action__wrapper {
  position: relative;
}

.header-search__icon,
.header-search__btn,
.header-search__icon-close,
.burger__menu,
.burger {
  cursor: pointer;
}

.header-search__icon {
  right: 0;
}

.header-search__icon,
.header-search__icon-close {
  width: 24px;
  height: 24px;
}

.header__search:hover rect,
.header-search__btn:hover rect,
.header-search__icon-close:hover rect {
  fill: #FF9900;
}

.header-search__btn:active rect,
.header-search__icon-close:active rect {
  fill: #333333;
}

.header__search:hover path,
.header-search__btn:hover path,
.header-search__icon-close:hover circle {
  stroke: #FF9900;
}

.header-search__btn:active path,
.header-search__icon-close:active circle {
  stroke: #333333;
}

.header__search:focus,
.header-search__form-icon:hover,
.header-search__icon-close:focus {
  width: 32px;
  height: 32px;
  padding: 4px;
  outline: 2px solid #FF9900;
}

.header-action__search {
  position: absolute;
  padding: 0;
  width: 0;
  height: 60px;
  top: -15px;
  right: 0;
  align-items: center;
  justify-content: flex-end;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  overflow: hidden;
  transition-property: width, padding;
  transition-duration: .7s;
  transition-timing-function: ease-in;
}

.header-action__search--active {
  display: flex;
  width: 539px;
  padding: 16px 13px 16px 32px;
}

.header-search__input {
  width: 412px;
  margin-right: 14px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ADADAD;
  border: none;
  border-bottom: 1px solid #DCDCDC;
  outline: none;
}

.header-search__btn {
  margin-right: 20px;
  background: transparent;
  border: none;
  outline: none;
}

.burger {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40px;
  height: 33px;
  padding: 5px;
}

.burger__line {
  width: 30px;
  height: 3px;
  background-color: #333333;
}

.burger__line:not(:first-child) {
  margin-top: 7px;
}

.burger:hover,
.burger:focus {
  width: 40px;
  height: 33px;
  border: 2px solid #FF9900;
}

.burger:hover
.burger:active {
  align-items: flex-end;
}

.burger:hover .burger__line
.burger:active .burger__line {
  background-color: #E1670E;
}

.burger:hover .burger__line:nth-child(n),
.burger:active .burger__line:nth-child(n) {
  width: calc(30px - (var(--i) * 5px));
}

.header__nav-mobile--hidden {
  width: 0;
}

/* hero */
.swiper {
  width: 100%;
  height: 620px;
}

.swiper-wrapper {
  position: relative;
}

.hero__content {
  position: absolute;
  max-height: 620px;
  padding: 100px 0;
  padding-left: 80px;
  color: #FFFFFF;
  z-index: 2;
}

.hero__title {
  max-width: 837px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: inherit;
}

.hero__descr {
  margin-top: 24px;
  max-width: 790px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: inherit;
}

.hero__btn {
  margin-top: 90px;
  padding: 25px 37px;
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  color: inherit;
  border: none;
  outline: none;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-slide--1 {
  background-image: url("../img/hero-1.jpg");
}

.hero-slide--2 {
  background-image: url("../img/hero-2.jpg");
}
.hero-slide--3 {
  background-image: url("../img/hero-3.jpg");
}

.swiper-pagination {
  position: absolute;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  display: block;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255);
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background: #FFFFFF;
}

/* about */
.about__title {
  font-size: 50px;
}

.about__descr {
  margin-top: 20px;
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.about__info {
  display: none;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url("../img/info-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.about__benefits {
  margin-top: 50px;
}

.benefits-about__left {
  position: relative;
  width: 50%;
  margin-right: 32px;
  overflow: hidden;
}

.benefits-about__left-img {
  width: auto;
  height: 100%;
}

.benefits-left__overlay {
  position: absolute;
  width: 100%;
  padding: 50px;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
}

.benefits-left__descr {
  max-width: 454px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.benefits-left__btn {
  padding: 17px 36px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background: transparent;
  border: 3px solid #FF9900;
  outline: none;
}

.benefits-about__right {
  flex-basis: 50%;
}

.benefits-rigth__item {
  padding-left: 60px;
  border: 1px solid #CACACA;
}

.benefits-rigth__item:not(:last-child) {
  margin-bottom: 32px;
}

.benefits-right__content {
  padding: 65px 100px;
  padding-left: 238px;
  color: #333333;
  background-repeat: no-repeat;
  background-position: left center;
}

.benefits-rigth__title {
  max-width: 452px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.benefits-rigth__descr {
  max-width: 450px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.benefits_rigth__content--consalting {
  background-image: url("../img/about-consult.svg");
}

.benefits_rigth__content--quality {
  background-image: url("../img/about-quality.svg");
}

/* how */
.how {
  color: #333333;
}

.how__item {
  display: none;
}

.how__item--visible {
  display: block;
}

.how__title {
  margin-bottom: 50px;
}

.card-content__main {
  margin-right: 142px;
}

.card-work__list {
  display: flex;
  margin-bottom: 45px;
}

.card-work__nav-item {
  margin-right: 86px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}

.card-work__nav-item:hover {
  color: #FF9900;
}

.card-work__nav-item:focus {
  padding: 4px;
  border: 1px solid #FF9900;
}

.card-work__nav-item--activ {
  margin-right: 86px;
  color: #E1670E;
}

.card-content__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.card-content__descr {
  max-width: 758px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.btns-card__btn--fill {
  margin-right: 32px;
  font-weight: 700;
  color: #FFFFFF;
  border: 1px solid #FF9900;
}

.btns-card__btn--stroke {
  background-color: transparent;
  border: 1px solid #333333;
}

.btns-card__btn--stroke:hover,
.btns-card__btn--stroke:focus {
  color: #FFFFFF;
  background: #666666;
}

.btns-card__btn--stroke:focus {
  background: #000;
}

/* faq */
.faq__title {
  margin-bottom: 43px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.faq__accordion {
  font-family: 'Montserrat', sans-serif;
}

.ui-accordion .ui-accordion-header {
  position: relative;
  max-width: 100%;
  padding: 39px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  background: transparent;
  border: none;
}

.ui-widget-content {
  border: none;
}

.faq__icon {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  top: calc(50% - 25px);
  transition: transform 300ms ease-in-out;
}

.ui-state-active .faq__icon {
  transform: rotate(-45deg);
}

.ui-accordion .ui-accordion-header:active {
  color: #333333;
}

.ui-accordion .ui-accordion-header:focus,
.ui-accordion .ui-accordion-header:hover {
  color: #FF9900;
}

.ui-state-focus ellipse,
.ui-state-hover ellipse {
  fill: #FF9900;
}

.ui-state-focus path,
.ui-state-hover path {
  fill: #FFF;
}

.faq__item {
  border-top: 1px solid #CACACA;
  cursor: pointer;
}

.faq__item:last-child {
  border-bottom: 1px solid #CACACA;
}

.faq__item:hover, .faq__item:focus {
  border-top: 1px solid #FF9900;
  border-bottom: 1px solid #FF9900;
}

.faq__item:hover + .faq__item, .faq__item:focus + .faq__item {
  border-top: none;
}

.ui-accordion .ui-accordion-content {
  max-width: 1003px;
  padding: 1px 0 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* footer */
.footer {
  margin-top: 100px;
  padding: 50px 0;
  background: #222222;
  color: #CACACA;
}

.footer__container {
  justify-content: space-between;
}

.footer__left {
  margin-right: 121px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
}

.footer-nav__link:hover {
  color: #FF9900;
}

.footer-nav__link:focus {
  padding: 2px 5px;
  outline: 2px solid #FF9900;
}

.footer-nav__link:active {
  color: #E1670E;
}

.footer__social {
  margin-top: 90px;
}

.footer__social-item:not(:last-child) {
  margin-right: 25px;
}

.footer__social-item:hover path {
  fill: #FF9900;
}

.footer__social-item:focus {
  padding: 5px;
  outline: 2px solid #FF9900;
}

.footer__social-item:active path {
  fill: #E1670E;
}

.footer__form {
  width: 570px;
  flex-direction: column;
}

.footer-form__title {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.footer-form__input {
  width: 100%;
  padding: 14px 0 14px 24px;
  margin-bottom: 25px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  background: #414141;
  border: none;
  outline: none;
}

.footer-form__input:hover,
.footer-form__input:focus {
  background: #666666;
}

.footer-form__input--message {
  padding-bottom: 104px;
  margin-bottom: 32px;
}

.footer-form__btn--fill {
  padding: 19px 52px;
  margin-right: 22px;
  font-weight: 700;
  color: #FFFFFF;
}

.footer-form__check {
  margin-right: 4px;
  font-family: 'Montserrat', sans-serif;;
}

.footer-form__agree {
  max-width: 261px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.3px;
}

.footer__rigth {
  align-self: center;
}

.footer__descr {
  max-width: 363px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.footer-form__action {
  align-items: center;
}

@media (max-width: 1780px) {
  .section-offset,
  .footer {
    margin-top: 80px;
  }

  .card-content__img {
    width: 50%;
    overflow: hidden;
  }

  .card-content__img-main {
    max-width: none;
    height: 100%;
  }

  .footer__left {
    margin: 0;
  }

  .footer__rigth {
    display: none;
  }
}

@media (min-width: 1400px) and (max-width: 1780px) {
  .container {
    width: 1340px;
  }

  .header-nav__item {
    margin-right: 2em;
  }

  .about__descr {
    max-width: none;
  }

  .card-content__main {
    margin-right: 70px;
  }

  .benefits-left__overlay {
    padding: 40px;
  }

  .benefits-rigth__item {
    padding-left: 40px;
  }

  .benefits-right__content {
    padding: 35px 40px;
    padding-left: 150px;
    background-size: 126px;
  }
}

@media (max-width: 1400px) {
  .container {
    margin: 0 75px;
  }

  .burger {
    display: flex;
  }

  .header__nav {
    display: none;
  }

  .header__nav-mobile {
    position: absolute;
    height: 768px;
    padding-top: 39px;
    padding-left: 0;
    flex-direction: column;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .header__nav-mobile--visible {
    padding-left: 50px;
    width: 420px;
    opacity: 1;
  }

  .burger__menu {
    position: relative;
    display: block;
    width: 23px;
    height: 23px;
  }

  .logo {
    padding: 26px 0;
  }

  .burger__menu:before, .burger__menu:after {
    position: absolute;
    left: 9px;
    content: ' ';
    height: 23px;
    width: 3px;
    background-color: #333;
  }

  .burger__menu:before {
    transform: rotate(45deg);
  }

  .burger__menu:after {
    transform: rotate(-45deg);
  }

  .burger__menu:focus,
  .burger__menu:active {
    outline: #FF9900;
  }

  .burger__menu:hover {
    transform: scale(1.1);
  }

  .burger__menu:hover::after,
  .burger__menu:hover::before {
    background-color: #ff9900;
  }

  .header-nav__list {
    margin-top: 93px;
    padding-left: 20px;
    flex-direction: column;
  }

  .header__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .header-nav__item:not(:last-child) {
    margin-bottom: 77px;
  }

  .hero,
  .swiper {
    height: 768px;
  }

  .hero__title {
    padding-top: 160px;
  }

  .about__benefits {
    flex-direction: column;
  }

  .benefits-about__left {
    width: 100%;
    max-height: 640px;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .benefits-about__left-img {
    width: 100%;
    height: auto;
  }

  .benefits-rigth__item {
    padding-left: 77px;
  }

  .card-content__main {
    margin-right: 50px;
  }

  .ui-accordion .ui-accordion-header {
    padding-right: 60px;
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .container {
    margin: 0 50px;
  }

  .hero__title {
    max-width: 770px;
    font-size: 60px;
    line-height: 75px;
  }

  .hero__content {
    max-height: none;
    padding: 160px 0;
    padding-left: 77px;
  }

  .hero__descr {
    max-width: 660px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 25px;
  }

  .hero__btn {
    margin-top: 60px;
  }

  .about__title {
    font-size: 48px;
  }

  .about__descr {
    margin-top: 8px;
  }

  .about__info {
    display: inline-block;
  }

  .about__benefits {
    margin-top: 62px;
  }

  .benefits-rigth__item:not(:last-child) {
    margin-bottom: 29px;
  }

  .card-work__list {
    margin-bottom: 51px;
  }
  .card-content__img-main {
    max-width: 100%;
    max-height: none;
  }

  .card-content__descr {
    max-width: 460px;
    margin-bottom: 25px;
  }

  .card-content__descr {
    margin-bottom: 27px;
  }

  .faq {
    margin-top: 81px;
  }

  .faq__title {
    margin-bottom: 32px;
  }

  .faq-item__title {
    max-width: 756px;
    font-size: 20px;
    line-height: 24px;
  }

  .faq__wrapper {
    padding: 41px 0;
  }

  .footer__left {
    margin-right: 9em;
  }

  .footer__social {
    margin-top: 55px;
  }

  .footer-form__btn--fill {
    padding: 19px 37px;
  }
}

@media (max-width: 992px) {
  .btn {
    padding: 18px 35px;
  }

  .logo {
    padding: 11px 0;
  }

  .header__nav-mobile {
    padding-left: 40px;
  }

  .header__nav-mobile--visible {
    width: 300px;
  }

  .hero__container {
    margin: 0;
  }

  .hero__content {
    padding: 0;
    padding-left: 50px;
  }

  .hero__title {
    padding-top: 264px;
    max-width: 100%;
    font-weight: 800;
    font-size: 61px;
    line-height: 73px;
  }

  .hero__descr {
    max-width: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }

  .hero__btn {
    margin-top: 105px;
  }

  .benefits-about__left {
    height: 650px;
    max-height: none;
  }

  .benefits-about__left-img {
    height: 100%;
  }

  .about__descr {
    max-width: none;
  }

  .benefits-left__overlay {
    padding: 36px 40px;
  }

  .benefits-left__descr {
    max-width: 355px;
    line-height: 31px;
  }

  .benefits-rigth__item {
    padding-left: 40px;
  }

  .benefits-right__content {
    padding: 35px 40px 35px 130px;
    background-size: 114px;
  }

  .card-work__content {
    flex-direction: column;
  }

  .card-content__img {
    width: 100%;
    margin-bottom: 38px;
    order: 1;
  }

  .card-content__main {
    margin-right: 0;
    order: 2;
  }

  .card-work__list {
    justify-content: space-between;
  }

  .card-work__nav-item,
  .footer__social  {
    margin: 0;
  }

  .card-content__img-main {
    max-width: none;
    width: 100%;
  }

  .card-content__img {
    margin-bottom: 36px;
  }

  .card-content__descr {
    max-width: none;
    margin-bottom: 23px;
  }

  .btns-card__btn--fill {
    margin-right: 29px;
  }

  .btns-card__btn--fill,
  .btns-card__btn--stroke {
    padding: 19px 37px;
  }

  .how__title {
    margin-bottom: 49px;
  }

  .faq__wrapper {
    padding: 0;
  }

  .faq__title {
    margin-bottom: 30px;
  }

  .faq-item__title {
    max-width: 570px;
    padding: 34px 0 33px;
    line-height: 30px;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 11px;
  }

  .footer__nav {
    display: none;
  }

  .footer__form {
    width: 100%;
    margin-bottom: 50px;
    order: 1;
  }

  .footer-form__input {
    max-width: 541px;
  }

  .footer-form__btn--fill {
    margin-right: 19px;
    padding: 20px 37px;
  }

  .footer__left {
    order: 2;
  }
}

@media (max-width: 760px) {
  .container {
    margin: 0 15px;
  }

  .logo__header {
    order: 1;
  }

  .btn {
    padding: 14px 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .burger {
    order: 2;
    align-items: flex-end;
  }

  .header-action__wrapper {
    display: none;
  }

  .header__nav-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    padding: 13px 15px 0 0;
    height: 100%;
    min-height: 307px;
    left: auto;
    right: 0;
  }

  .header__nav-mobile--visible {
    width: 200px;
  }

  .header-nav__list {
    margin: 0;
    padding: 34px 25px 0 0;
  }

  .header-nav__item {
    margin: 0;
  }

  .header-nav__item:not(:last-child) {
    margin-bottom: 19px;
  }

  .header__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .hero, .swiper {
    height: 307px;
  }

  .section-offset,
  .footer {
    margin-top: 39px;
  }

  .hero__title {
    padding-top: 32px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 22px;
  }

  .hero__descr {
    margin-top: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero__btn {
    margin-top: 34px;
    padding: 13px 29px;
    font-size: 12px;
    line-height: 14px;
  }

  .faq-item__title {
    max-width: 454px;
  }

  .about__benefits {
    margin-top: 8px;
  }

  .benefits-about__left {
    max-height: none;
    display: flex;
    flex-direction: column;
  }

  .benefits-left__overlay {
    position: relative;
    margin-top: 8px;
    padding: 0;
    flex-direction: column;
    background: transparent;
    overflow: visible;
  }

  .benefits-left__descr {
    max-width: none;
    font-weight: 400;
    color: #333333;
  }

  .benefits-left__btn {
    margin-top: 20px;
    padding: 20px 45px;
    align-self: start;
    color: #FF9900;
  }

  .benefits-left__btn:hover {
    color: #333333;
    background: rgba(255, 153, 0, 0.7);
  }

  .ui-accordion .ui-accordion-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__icon {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 556px) {
  .hero__content {
    padding: 60px 40px;
  }

  .hero__title {
    font-size: 18px;
    line-height: 24px;
  }

  .hero__descr {
    font-size: 12px;
    line-height: 14px;
  }

  .swiper-pagination {
    display: none;
  }

  .about__benefits,
  .benefits-left__btn {
    margin-top: 8px;
  }

  .benefits-left__descr {
    max-width: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
  }

  .benefits-rigth__list {
    margin-top: 32px;
  }

  .benefits-rigth__item {
    border: none;
  }

  .benefits-rigth__item,
  .benefits-right__content {
    padding: 0;
  }

  .card-content__main {
    margin: 0;
  }

  .benefits-right__content {
    padding-top: 60px;
    background-position: top left;
    background-size: 64px;
  }

  .footer {
    padding: 33px 0;
  }

  .footer-form__btn--fill {
    display: block;
    margin: 0 auto;
    margin-bottom: 11px;
    padding: 12px 25px;
  }

  .footer-form__action {
    flex-direction: column;
  }

  .footer-form__action-agry {
    justify-self: center;
  }

  .footer__left {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .logo {
    padding: 13px 0;
  }

  .btn {
    padding: 14px 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .section__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .about__title {
    font-size: 24px;
    line-height: 29px;
  }

  .about__descr {
    margin-top: 0;
  }

  .about__benefits,
  .benefits-left__btn {
    margin-top: 15px;
  }

  .about__descr,
  .benefits-left__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .benefits-left__btn {
    margin-top: 10px;
    padding: 9px 41px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .benefits-left__overlay {
    margin-top: 5px;
  }

  .benefits-about__left {
    height: auto;
    margin: 0;
  }

  .benefits-rigth__list {
    margin-top: 30px;
  }

  .benefits-right__content {
    padding-top: 64px;
  }

  .benefits-rigth__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .benefits-rigth__descr {
    margin-top: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .card-work__nav-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .how__title {
    margin-bottom: 22px;
  }

  .card-content__img {
    margin-bottom: 10px;
  }

  .card-work__list,
  .card-content__descr,
  .faq__title {
    margin-bottom: 16px;
  }

  .card-content__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .card-content__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .btns-card__btn--fill {
    margin-right: 6px;
    padding: 11px 43px;
  }

  .btns-card__btn--stroke {
    padding: 11px 30px;
  }

  .faq-item__title {
    max-width: 243px;
    padding: 29px 0 31px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__accordion[open] > .faq__wrapper::after,
  .faq__wrapper::after {
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
  }

  .faq__accordion[open] > .faq__wrapper::after {
    top: 0;
  }

  .faq__wrapper::after {
    margin: 0;
    background-size: 30px 30px;
  }

  .footer {
    padding: 32px 0;
  }
  .footer-form {
    margin-bottom: 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #595959;
  }

  .footer-form__title {
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .footer-form__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
  }

  .footer-form__input--message {
    margin-bottom: 24px;
  }

  .footer-form__btn--fill {
    padding: 13px 28px;
  }

  .footer-form__check {
    margin: 0;
    margin-left: 7px;
  }

  .footer-form__agree {
    letter-spacing: 0;
  }

  .footer-logo-box {
    margin-top: 16px;
  }

  .footer__social-item  svg {
    width: 40px;
    height: 40px;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 16px;
  }
}


